@media screen and (min-width: 0px) and (max-width: 1200px) {
  .padding__xxl {
    padding: 0 clamp(1rem, calc(2rem + 0.5vw), 9.375rem);
  }
  .margin__top--base {
    margin-top: 3vh;
  }
  .nav__menu--big {
    display: none;
  }
  .nav__menu--small {
    & i {
      position: relative;
      outline: 2px solid var(--color-primary-secondary);
      padding: 15px;
      border-radius: 15px;
      color: var(--color-warning);
      font-size: var(--font-size-base);
    }

    & ul {
      z-index: 1;
      display: none;
      width: 220px;
      outline: 2px solid var(--color-primary-light);
      border-radius: 20px;
      padding: 40px 0px;
      position: absolute;
      top: 15vh;
      right: 50px;
      text-align: right;

      & li {
        margin-top: 50px;
        border: none;
        list-style: none;
        &:first-child {
          margin-top: 0px;
        }

        & a {
          padding: 0.5rem 2rem;
          text-decoration: none;
          font-family: var(--font-family-inter);
          color: var(--color-primary-white);
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-regular);
          letter-spacing: 0.2vw;
        }
      }
    }
  }
  & i:hover + ul{
    display: block;
  }
}

@media screen and (min-width: 1200px) and (max-width: 10000px) {
    .nav__menu--small{
        display: none;
    }
}