@media screen and (min-width: 0px) and (max-width: 1200px) {
  .padding__xxl {
    padding: 0 clamp(1rem, calc(2rem + 0.5vw), 9.375rem);
  }
  .padding__top--base {
    padding-top: 3.125rem;
  }
  .nav__menu--big {
    display: none;
  }
  .nav__menu--small {
    & i {
      position: relative;
      outline: 2px solid var(--color-primary-secondary);
      padding: 15px;
      border-radius: 15px;
      color: var(--color-warning);
      font-size: var(--font-size-base);
    }

    & ul {
      z-index: 10;
      display: none;
      width: 220px;
      outline: 2px solid var(--color-primary-light);
      border-radius: 20px;
      padding: 40px 0px;
      position: absolute;
      top: 130px;
      right: 35px;
      text-align: right;
      backdrop-filter: blur(20px);
      background-color: var(--color-primary-light);

      & li {
        margin-top: 50px;
        border: none;
        list-style: none;
        &:first-child {
          margin-top: 0px;
        }

        & a {
          padding: 0.5rem 2rem;
          text-decoration: none;
          font-family: var(--font-family-inter);
          color: var(--color-primary-white);
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-regular);
          letter-spacing: 0.2vw;
        }
      }
    }
    & i:hover + ul {
      display: block;
    }
  }
  /* banner media */
  .banner__container {
    margin-top: 5vh;
    text-align: center;
    flex-direction: column;

    & .banner__right {
      position: relative;
      & .banner__image > img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }

      & .tutorial {
        position: absolute;
        top: 450px;
        left: 50px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--color-primary-light);
        backdrop-filter: blur(5px);
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;

        & .left__tutorial {
          position: relative;
          height: 40px;
          width: 40px;
          padding: 20px;
          border-radius: 50px;
          background: var(--color-warning);

          & i {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 auto;
            transform: translate(120%, 70%);
            color: var(--color-primary-white);
          }
        }

        & .right__tutorial {
          & h4 {
            font-size: var(--font-size-base);
          }
          & p {
            font-size: var(--font-size-sm);
          }
        }
      }

      & .workout {
        position: absolute;
        top: 200px;
        left: 150px;
        width: 230px;
        background-color: var(--color-primary-light);
        backdrop-filter: blur(5px);
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        & h4 {
          font-size: var(--font-size-base);
        }
        & p {
          font-size: var(--font-size-sm);
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  /* banner media */
  .banner__container {
    margin-top: 5vh;
    text-align: center;
    flex-direction: column;

    & .banner__right {
      position: relative;
      & .banner__image > img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }

      & .tutorial {
        position: absolute;
        top: 350px;
        left: 50px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--color-primary-light);
        backdrop-filter: blur(5px);
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;

        & .left__tutorial {
          position: relative;
          height: 40px;
          width: 40px;
          padding: 20px;
          border-radius: 50px;
          background: var(--color-warning);

          & i {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 auto;
            transform: translate(120%, 70%);
            color: var(--color-primary-white);
          }
        }

        & .right__tutorial {
          & h4 {
            font-size: var(--font-size-xsm);
          }
          & p {
            font-size: var(--font-size-xsm);
          }
        }
      }

      & .workout {
        position: absolute;
        top: 200px;
        left: 110px;
        width: 180px;
        background-color: var(--color-primary-light);
        backdrop-filter: blur(5px);
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        & h4 {
          font-size: var(--font-size-xsm);
        }
        & p {
          font-size: var(--font-size-xsm);
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* banner styles */
  .banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;

    & .banner__right {
      position: relative;
      & .banner__image > img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }

      & .tutorial {
        position: absolute;
        top: 250px;
        left: 50px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--color-primary-light);
        backdrop-filter: blur(5px);
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;

        & .left__tutorial {
          position: relative;
          height: 40px;
          width: 40px;
          padding: 20px;
          border-radius: 50px;
          background: var(--color-warning);

          & i {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 auto;
            transform: translate(120%, 70%);
            color: var(--color-primary-white);
          }
        }
      }

      & .workout {
        position: absolute;
        top: 130px;
        left: 100px;
        width: 230px;
        background-color: var(--color-primary-light);
        backdrop-filter: blur(5px);
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 10000px) {
  .nav__menu--small {
    display: none;
  }
}
